body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

#map {
    width: 70%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    margin-left: 0;
    left: 0;
    right: 0;
}

#formContainer{
    width: 30%;
    height: 100%;
    margin-left: 70%;
}


#form{
    padding:20px;
}

#header{
    text-align: center;
    font-size: 16pt;
}

#lat, #lng{
    color:grey;
}

.hiddenWhenNotClicked{
    visibility:hidden;
}

textarea.hiddenWhenNotClicked{
    text-align: left;
    height: 110px;
    width: 90%;
    margin: 8px 0;
    padding: 12px 8px 12px 20px;
    border: none;
    background: #F4F4F4;
    border-radius: 10px;
}

textarea.hiddenWhenNotClicked:hover {
    background: #ECF6FF;
}

textarea.hiddenWhenNotClicked:focus {
    border: none;
    outline: none;
    background: #ECF6FF;
    box-shadow: 0 4px 7px 2px rgba(57, 66, 100, 0.15);
}


#errorMsg{
    visibility:hidden;
    margin: 5px;
    color:red;
}

#formButton{
    border:none;
    font-family: inherit;
    color:white;
    font-size: 16pt;
    margin: 15px 15px 0 0;
    background: linear-gradient(86.12deg, #448EFE 2.88%, #650AF9 98.9%);
    width: 160px;
    height: 60px;
    border-radius: 18px;
    transition: all 1s;
    cursor: pointer;
}

#formButton:hover{
    width: 100%;
    background:linear-gradient(86.12deg, #257CFF 2.88%, #4800BD 98.9%);
}



#earthAnimation {
    transform: translateZ(1px);
    padding-top: 100px;
}
#earthAnimation > div {
    width: 64px;
    height: 64px;
    margin:auto;
    background: url("../images/Surreal-Earth.svg");
    animation: earthAnimation 8s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes earthAnimation {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}



@media only screen and (max-width: 830px) {

    #content{
        display: flex;
    }

    #map {
        width: 100%;
        height: 60%;
        overflow: hidden;
        position: absolute;
    }


    #formContainer{
        width: 100%;
        height: 40%;
        margin-left: 0;
        position: fixed;
        bottom: 0;
    }

    #form{
        overflow: auto;
        max-height: 98%;
    }


    #earthAnimation {
        padding-top: 40px;
        margin-bottom: 40px;
    }


    #formButton{
        margin-top: 0;
    }


}
